Repository ItsMestro/Angiedale-Cogs, changes with the labels that .github/labeler.yml gives for each.
All labels: Cog: Admin, Cog: Adventure, Cog: API, Cog: Economy, Cog: Games, Cog: General, Cog: Interactions, Cog: Mod, Cog: Osu, Cog: Owner, Cog: TTools, Cog: Utility

.github/labeler.yml:

"Cog: Admin":
  - admin/*
"Cog: Adventure":
  - adventure/*
"Cog: API":
  - api/*
"Cog: Economy":
  - economy/*
"Cog: Games":
  - games/*
"Cog: General":
  - general/*
"Cog: Interactions":
  - interactions/*
"Cog: Mod":
  - mod/*
"Cog: Osu":
  - osu/*
"Cog: Owner":
  - owner/*
"Cog: TTools":
  - ttools/*
"Cog: Utility":
  - utility/*

Update pr_label.yml
  .github/workflows/pr_label.yml
Labels: none

Use MongoDB instead of manually writing to disk you dork...
  README.md
  osu/database.py
  osu/embeds.py
  osu/osu.py
Labels: Cog: Osu

Handle user searching better and solve inactive user error
  osu/database.py
  osu/embeds.py
  osu/osu.py
  osu/tools.py
Labels: Cog: Osu

Add unranked leaderboards for Osu
  osu/database.py
  osu/embeds.py
  osu/osu.py
  osu/tools.py
Labels: Cog: Osu

Post update fixes
  osu/embeds.py
  osu/osu.py
  osu/tools.py
Labels: Cog: Osu

Add mode converter
  osu/tools.py
Labels: Cog: Osu

Add osu!beat
  osu/embeds.py
  osu/osu.py
  osu/tools.py
Labels: Cog: Osu

I have acquired knowledge and is now less dumb. (Replaced custom menu with reaction predicate)
  ttools/ttools.py
Labels: Cog: TTools

Make 4k rank default to 0 so filter doesn't flip out
  ttools/ttools.py
Labels: Cog: TTools

How did I never notice
  ttools/ttools.py
Labels: Cog: TTools

Fix topcompare fetching wrong mode for ranking search
  osu/osu.py
Labels: Cog: Osu

Make osubeat results not inline
  osu/embeds.py
Labels: Cog: Osu

Fix consistency of datetime formats
  osu/osu.py
Labels: Cog: Osu

Fix topcompare not returning tuple on invalid args
  osu/tools.py
Labels: Cog: Osu

Give registrations custom help message
  ttools/ttools.py
Labels: Cog: TTools

Missed await
  general/general.py
Labels: Cog: General

Dumb mistakes
  ttools/ttools.py
Labels: Cog: TTools

Change some command permissions
  osu/osu.py
Labels: Cog: Osu

Update workflow permissions
  .github/workflows/pr_label.yml
Labels: none

Return to generalized issue messages
  admin/admin.py
Labels: Cog: Admin

Update Admin to Red 3.4.16
  admin/admin.py
  admin/converters.py
Labels: Cog: Admin

Missed black styling
  admin/admin.py
  admin/converters.py
Labels: Cog: Admin
